# Project Dependencies
# Core Pipeline (Day 2 Kafka & Day 3 Cassandra)
kafka-python>=2.0.2
cassandra-driver>=3.29.0

# Data Preparation & Analysis (Day 4 PaySim Data)
pandas>=2.0.0
numpy>=1.24.0
matplotlib>=3.7.0
